body{
    font :roboto;
    height:100vh;
    width:100vw;
    margin: 0px;
    padding: 0px;
}
ul{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    color:#e5e7eb;
}
.box1{

    background-color: #1f2937;
    height:800px;
    display:flex;
    justify-content: center;
    margin:0px;
    padding:0px;
}
.container1{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    height:100%;
    width:80%;
    align-items: center;
}
.header{
    width:100%;
    height:15%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    color:#e5e7eb;
    font-size: 25px;
}
.headerlinks{
    gap:50px;
    display: flex;
}
.content{
    display:flex;
    justify-content: space-between;
    width:100%;
    height:50%;
    padding-bottom:100px;
}
.text{
    width:50%;
}
.hero{
    color: #f9faf8;
    font-size:52px;
    font-weight: 900;
}
.herop{
    color: #e5e7eb;
    font-size: 30px;
}
button{
    background-color: rgb(89, 125, 231);
    height: 55px;
    width: 160px;
    border-radius: 10px;
    border: 1px solid rgb(85, 28, 28);
    font-size: 18px;
    color:#ffffff;
    font-weight :bold;
     
}

/*section 2 of the page*/

.box2{
    align-items: center;
    height:800px;
    background-color:rgb(245, 245, 243) ;
}
.box2title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(65, 36, 1);
    font-size: 48px;
    
}
.cardholder{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 300px;
}
.card{
    text-align: center;
    color:rgb(121, 109, 96);
    font-size:26px;
}

/*section 3 of the page*/
.box3{
    display:flex;
    justify-content: center;
    align-items:center;
    height:800px;
    background-color: #e5e7eb;
}

.quote{
    font-size:36px;
    width:50%;
    color:#1f2937;
    font-weight:300;
}
.author{
    font-weight: 800;
    text-align: end;
}
/*section 4 of the page*/
.box4{
    height:500px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    background-color: azure;
}
.container4{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40%;
    background-color:#3882f6;
    width:50%;
    color: aliceblue;
    border-radius: 10px;
}

.signup{
    color:white;
    border:2px solid white;
    border-radius:5px;
}

.footer{
    width:100%;
    height:100px;
    background-color:#1f2937;
    font-size: 28px;
    color:white;
    text-align: center;
    align-items: center;
    display:flex;
    justify-content: center;
}